.informarcoesDeUmServicoNaLista li {
    color: black;
    list-style-type: none;
}

.informarcoesDeUmServicoNaLista label {
    font-size: 1.5rem;
}

.informarcoesDeUmServicoNaLista input {
    font-size: 1.4rem;
    width: 40%;
    background: transparent;
    border-width: 2px;
    border-color: #453E96;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}