.informarcoesDeUmPetNaLista li {
    color: black;
    list-style-type: none;
}

.informarcoesDeUmPetNaLista label{
    font-size: 1.5rem;
}

.informarcoesDeUmPetNaLista input {
    font-size: 1.4rem;
    width: 40%;
    background: transparent;
    border-width: 2px;
    border-color: #453E96;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.2);
}

.menuAddTel {
    text-align: start;
    justify-content: space-around;
    display: inline-flex;

}

.menuAddTel input {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
    color: white;
}

.menuAddTel input:focus {
    outline: none;
}

.inputAddNovoTelDDD {
    width: 8%;
}