.containerFormularioCliente {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;
}

.formularioCliente {
    width: 100%;
    display: grid;
    gap: 5rem;
}

.linhaFormularioCadastroCliente {
    width: 81vw;
    justify-content: space-around;
    display: inline-flex;
    margin-bottom: 4rem;
    align-items: center;
}

.inputsComDataFormsCliente {
    width: 34%;
    display: inline-flex;
    justify-content: space-between;
    border: 0;
    outline: 0;
    bottom: 0;
}

.campoInputTextoCadastroCliente label,
input {
    display: block;
}

.multiplosInputsCadastroCliente {
    display: block;
}

label {
    color: white;
}

.inputClienteForms {
    color: white;
    width: 12rem;
    font-size: 1.2rem;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
}

.inputClienteForms:focus {
    color: white;
    width: 12rem;
    font-size: 1.2rem;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
    outline: none;
}

.containerBotaoCadastrarCliente button {
    background-color: #E0C524;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
}

.containerBotaoCadastrarCliente button:hover {
    background-color: #E0C524;
    border: none;
    color: white;
    padding: 1.1rem 2.1rem;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.5s;
}