.containerFormularioCliente {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #453E96;
    padding: 4vh;
}

.formularioCliente {
    width: 87vw;
    display: grid;
    gap: 13vh;
}

.linhaFormularioCadastroCliente {
    width: 100%;
    justify-content: space-around;
    display: inline-flex;
    margin-bottom: 8vh;
    align-items: center;
}

.inputsComDataFormsCliente {
    width: 24%;
    display: inline-flex;
    justify-content: space-between;
    border: 0;
    outline: 0;
}

.campoInputTextoCadastroCliente label,
input {
    display: block;
}

.multiplosInputsCadastroCliente {
    display: block;
}

label {
    color: white;
}

.inputClienteForms {
    color: white;
    font-size: 1vw;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
}

.containerBotaoCadastrarCliente button{
    background-color: #E0C524;
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.5s;
}

.containerBotaoCadastrarCliente button:hover{
    background-color: #E0C524;
    border: none;
    color: white;
    padding: 1.1vw 2.1vw;
    text-align: center;
    font-size: 1.1vw;
    cursor: pointer;
    transition: all 0.5s;
}