.containerFormularioCliente {
    margin-top: 1rem;
    display: flex;
    width: 100%;
}

.formularioCliente {
    display: grid;
    width: 100%;
    justify-content: center;
}

.linhaFormularioCadastroCliente {
    display: inline-flex;
    margin-bottom: 4rem;
    justify-content: start;
    width: 100%;
    gap: 1.7rem;
}

.inputClienteForms[type=text], .inputClienteForms[type=email] {
    color: white;
    font-size: 1.2rem;
    width: 100%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
}

.inputClienteForms[type=date] {
    color: white;
    font-size: 1.2rem;
    width: 100%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #E0C524;
}

.inputsComDataFormsCliente {
    display: inline-flex;
    justify-content: space-between;
    gap: 1.7rem;
}

.inputClienteForms:focus {
    outline: none;
}

.containerBotaoCadastrarCliente{
    text-align: center;
}

.botaoCadastrarCliente {
    background-color: #E0C524;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}

.botaoCadastrarCliente:hover {
    background-color: #BEA302;
    border: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s;
}