.clientesCadastrados{
    width: 100%;
}

.tabelaClientes{
    width: 100%;
    border-collapse: collapse;
}

.tabelaClientes tr:nth-child(even){
    background-color: #eeeeee;
}

.tabelaClientes tr:hover{
    background-color: #dddddd;
}

.tabelaClientes th {
    text-align: left;
    border: 2px solid black;
    background-color: #E0C524;
}

.tabelaClientes td {
    border: 2px solid black;
}