.clientesCadastrados {
}

.informacoesDosClientes {
    display: flex;
    flex-direction: column;
    color: white;
}

.botaoSelecionarClienteNaListaCliente {
    width: 10%;
}

li {
    list-style-type: none;
}