.barraDeNavegacao {
    width: 100%;
    border-bottom: 0.1rem solid #E0C524;
    margin-bottom: 0.7rem;
}

.containerDaBarraDeNavegacao {
    display: flex;
    justify-content: center;
    gap: 2.1rem;
}

.botoesDaBarraDeNavegacao {
    display: inline-block;
}

.logoPetLovers {
    color: white;
}

.linkDaBarraDeNavegacao {
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 1.2rem;
}

.linkDaBarraDeNavegacao:hover {
    color: #E0C524;
    transition: all 0.3s;
    text-decoration: none;
}