.barraDeNavegacao {
    border-bottom: 0.1rem solid #E0C524
}

.containerDaBarraDeNavegacao {
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
}

.botoesDaBarraDeNavegacao {
    display: inline-block;
    margin: 0 2rem;
}

.logoPetLovers {
    color: white;
}

.linkDaBarraDeNavegacao {
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 1.3rem;
}

.linkDaBarraDeNavegacao:hover {
    color: #E0C524;
    transition: all 0.3s;
    text-decoration: none;
}